<h1>Nieuwe overschrijving</h1>

<%= form_for @transaction do |f| %>
  <p>
    <%= f.label :bankrekeningnr %><br />
    <%= f.text_field :receiver_account_id %>
  </p>
  <p>
    <%= f.label :bedrag %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.label :beschrijving %><br />
    <%= f.text_field :description %>
  </p>
  <p class="button"><%= f.submit %></p>
<% end %>

